
<div class="container" id="profile_container">
  <h1 id="page_title">Create a Profile</h1>
  <div>
    <div class="col-sm-6">
      <p>
        Help us get to know you better.
      </p>
      <div>
        <%= form_for @profile do |f| %>
          <%= f.label :first_name %><br>
          <%= f.text_field :first_name, required: true %>
          <br>
          <%= f.label :last_name %><br>
          <%= f.text_field :last_name, required: true %>
          <br>
          <%= f.label :email %><br>
          <%= f.text_field :email, required: true %>
          <br>
          <%= f.label :city %><br>
          <%= f.text_field :city %>
          <br>
          <%= f.label :state %><br>
          <%= f.text_field :state %>
                    <br>
          <%= f.label :bio %><br>
          <%= f.text_field :bio %>
                    <br>
          <%= f.label :coach_type %><br>
          <%= f.text_field :coach_type %>
                    <br>
          <%= f.label :industry %><br>
          <%= f.text_field :industry %>
      </div>

    <div class="col-sm-6">
          <br>
          <%= f.label :price_low %><br>
          <%= f.text_field :price_low %>
          <br>
          <%= f.label :price_high %><br>
          <%= f.text_field :price_high %>
                    <br>
          <%= f.label :language %><br>
          <%= f.text_field :language %>
                    <br>
          <%= f.label :certification %><br>
          <%= f.text_field :certification %>
                    <br>
          <%= f.label :experience %><br>
          <%= f.text_field :experience %>
          <%= f.submit 'Create Profile', class: "button" %>
          <% end %>
      </div>
    </div>
  </div>
</div>