<p id="notice"><%= notice %></p>

<h1>Listing Mentors</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>City</th>
      <th>State</th>
      <th>Bio</th>
      <th>Coach type</th>
      <th>Rating</th>
      <th>Price low</th>
      <th>Price high</th>
      <th>Industry</th>
      <th>Language</th>
      <th>Certification</th>
      <th>Skills</th>
      <th>Experience</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mentors.each do |mentor| %>
      <tr>
        <td><%= mentor.first_name %></td>
        <td><%= mentor.last_name %></td>
        <td><%= mentor.city %></td>
        <td><%= mentor.state %></td>
        <td><%= mentor.bio %></td>
        <td><%= mentor.coach_type %></td>
        <td><%= mentor.rating %></td>
        <td><%= mentor.price_low %></td>
        <td><%= mentor.price_high %></td>
        <td><%= mentor.industry %></td>
        <td><%= mentor.language %></td>
        <td><%= mentor.certification %></td>
        <td><%= mentor.skills %></td>
        <td><%= mentor.experience %></td>
        <td><%= mentor.email %></td>
        <td><%= link_to 'Show', mentor %></td>
        <td><%= link_to 'Edit', edit_mentor_path(mentor) %></td>
        <td><%= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mentor', new_mentor_path %>
