<div class="profile_container">
    <h1 class="alert-info mentor_alert"><%= notice %></h1>

<!-- Pic and contact info -->
  <div class="container">
    <div class="pic_with_name col-sm-6">
      <%= link_to image_tag("testimonial2.png", :height => 200, :width => 200, :alt => "Person1"), {:class => "", :alt => "Profile Picture"} %> 
      <div class="profile_info">
        <h2><%= @mentor.first_name  %> <%= @mentor.last_name  %></h2>
        <h4><%= @mentor.industry  %> </h4>
        <h4><%= @mentor.city %>, <%= @mentor.state %></h4>
        <button class="btn-lg btn-block"> Contact </button><br>
        <button class="btn-lg btn-block"> Add to favorites </button>

      </div>
    </div>
  </div>
<!-- mentor Videos -->
  <div class="profile_videos container">
    <div class="wrapper">
      <div class="sm-col-6 intro_video">
        <p>Introduction</p>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/yyb1wImU-4I" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="sm-col-6 what_sets_you_apart_video">
        <p>What sets you apart from other coaches?</p>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/p_t9NmZNhIE" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  </div>
<!-- Bio -->
  <div class="container">
    <h2>Bio</h2>
    <%= @mentor.bio  %>
  </div>
</div>

<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>
